@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

:root {
    --primary-color: #2874f0;
}

.container {
    padding: 0 8px;
}

/* header */
header {
    background-color: var(--primary-color);
    height: 56px;
}

header .nav-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}

header .nav-container .logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}

header .nav-container .logo img {
    width: 75px;
}

header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

header .search .search-container {
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}

header .search .search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}

header .search .search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

header .login {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

header .login button {
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: #2874f0;
}

header .become-seller {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header .more {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header .more svg {
    margin-left: 8px;
    rotate: -90deg
}

header .cart {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
}

header .cart svg {
    margin-right: 8px;
}

.section1 {
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-1-container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-1-container a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-container img {
    height: 64px;
    width: 64px;
}

.section-1-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}

.section2 {
    height: 288px;
    width: 100%;
}

.section-2-container {
    width: 1640px;
    margin-top: 16px;
    height: 280px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 150px;
}



.section-3-container {
    position: absolute;
    border: 0.5px solid rgb(216, 210, 210);
    width: 1640px;
    margin-top: 16px;
    padding: 0 20px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 150px;
}

.products {
    margin: 150px;
    display: absolute;
}

.productcategory {
    display: flex;
}

.product-heading {
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90');
    background-position: bottom;
    background-repeat: no-repeat;
    /* padding: 40px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 340px;
    border: 0.5px solid rgb(216, 210, 210);
    padding-left: 20px;
}

.electronic-product-heading {
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/11928d56749b68e7.jpg?q=90');
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 325px;
    border: 0.5px solid rgb(216, 210, 210);
    padding-left: 20px;
    margin-top: 20px;
}

.product-category-title {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
}

.product-viewall {
    background-color: #0275d8;
    color: white;
    border: none;
    margin: 20px 0;
    padding: 10px 30px;
}

.product-viewall:hover {
    box-shadow: 0 0 2px #0275d8;
}

.productrow {
    background-color: white;
    margin: 20px 0;
    display: flex;
    overflow: auto;
}

.productItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.productimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 250px;
    overflow: hidden;
    transition-duration: 400ms;
}

.productimg:hover {
    transform: scale(0.9);
}

.producttext {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

.producttitle {
    font-weight: 500;
}

.productprice {
    color: #477d3c;
}

.productcompany {
    color: gray;
}

.Banners {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-color: #f1f3f6;
    flex-wrap: wrap;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.price-tag {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
    background-color: #f1f3f6;
    box-sizing: border-box;
}

.price-tag img {
    margin: 10px 0;
    margin-left: 10px;
}

#footer {
    background-color: #003366;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
}

.linkdiv {
    font-size: 12px;
    /* margin-left: 50px; */
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.linkpartition {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}

.linktitle {
    color: #a6a6a6;
    margin-bottom: 10px;
}

.footerlink {
    text-decoration: none;
    color: white;
    line-height: 24px;
}

.footerlink:hover {
    text-decoration: underline;
}

.mailaddress {
    margin-top: 10px;
}

.mailaddress p {
    line-height: 4px;
}

.footer-features {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding: 9px 0 25px;
}

.footerFeatureLink {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footerFeatureText {
    font-size: 14px;
}

.footerFeatureImg {
    margin-right: 8px;
    vertical-align: text-top;
}

hr {
    background-color: #a6a6a6;
}